.DS_Store


# frontend directories
frontend/dist
frontend/.DS_Store
frontend/node_modules

/deploy_files

# backend directories
backend/venv
backend/.env
backend/deploy.py
backend/*.sqlite3
backend/mongo.txt
/**/__pycache__


socketapp/venv
socketapp/.env

# local env files
/**/.env.*
/**/.env
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.firebase
